@import "./scss/vars.scss";
@import "./scss/fonts.scss";
@import "./scss/icons.scss";
@import "./scss/pfwp-codes.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video, button, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
}

ul, li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: #6560f0;
}

 a:hover {
  color: #2b2a3f;
 }

select {
  background-position: right 0 center;
  font-family: "Public Sans", system-ui, sans-serif;
  display: block;
  background-size: 16px 12px;
  font-size: 14px;
  padding: 0 20px 0 0;
  border: 0;
  cursor: pointer;
  background-color: #fff;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

body {
  background-color: $color-grey-1;
  color: $color-black-1;
  font-family: "Public Sans", system-ui, sans-serif;
  line-height: 1.5;
}

.main-container {
  padding: 0 40px 0 320px;
  display: flex;
  justify-content: space-between;

  &-content {
    width: calc(100% - 425px);
  }

  &-sidebar {
    width: 400px;
  }
}

.page-title {
  margin: 25px 40px 20px 320px;
  font-size: 24px;
  font-weight: 700;
}

.card {
  background-color: #fff;
  margin-bottom: 25px;

  &--pad {
    padding: 30px;
  }

  &-body {
    p {
      margin-bottom: 15px;
      line-height: 1.7;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;

    &--bs {
      box-shadow: rgba(101, 96, 240, 0.1) 0px 4px 34px 0px;
    }
  }

  &-title {
    font-size: 16px;
    font-weight: 700;
    color: #2b2a3f;
  }

  &-select {
    color: #8e8da2;
    border: 1px solid #d6d4ec;
    border-radius: 4px;
    display: flex;
    padding: 5px 10px;
    font-size: 14px;

    span {
      font-weight: 500;
      color: #8e8da1;
      margin-right: 8px;
    }
  }
}

.text-gray {
  color: #8e8da1;
}

.button {
  color: #8e8da2;
  border: 1px solid #d6d4ec;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: #6560f0;
    border-color: #6560f0;
    color: #fff;
  }
}

.lazy-load {
  height: 300px;
  text-align: center;
}
