.comment {
  &-container {
    display: flex;
  }

  &-avatar {
    width: 85px;
    flex: 0 0 85px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    margin-left: 12px;
  }

  &-meta {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &-reply {
    display: none;
  }
}
