.table {
  display: flex;
  flex-wrap: wrap;

  > * {
    width: 100%;
  }

  &-head {
    display: flex;
    justify-content: space-between;
    color: #9c9ab6;
    font-size: 13px;
    margin-bottom: 12px;
  }

  &-list {
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      border-bottom: .5px dashed #f0f0f0;
      padding-bottom: 12px;
      margin-bottom: 12px;

      &:last-child {
        border: 0;
        margin-bottom: 0;
      }
    }
    
    &-col {
      display: flex;
      color: #4c4a68;

      img {
        border-radius: 50%;
        width: 44px;
        height: 44px;
      }

      > div {
        margin-left: 15px;
      }

      &:nth-child(2) {
        font-size: 14px;
      }
    }
  }
}
